//------------------------------------------------------------------------------
// Projet RTCA          : READ TO CATCH ALL
// Auteur               : Nicolas Hanteville
// Site                 : http:\\omni.a.free.fr
// Licence              : GPL V3
//------------------------------------------------------------------------------
#include "resource.h"
//------------------------------------------------------------------------------
DLG_INFO DIALOGEX 6,6,294,231
CAPTION "Information"
FONT 8,"MS Sans Serif",0,0
STYLE 0x00C80000
EXSTYLE 0x00000080
BEGIN
  CONTROL ""              ,LV_VIEW              ,"SysListView32",0x40810089,0,0,294,231,0x00000200
END
//------------------------------------------------------------------------------
/*POPUP_LV_INFO MENU DISCARDABLE
BEGIN
  POPUP "Save"
    BEGIN
    MENUITEM "Save selection" ,POPUP_LV_S_SELECTION
    MENUITEM "Save view"      ,POPUP_LV_S_VIEW
    MENUITEM SEPARATOR
    MENUITEM "Delete record"  ,POPUP_LV_S_DELETE
    POPUP "Copy"
      BEGIN
        MENUITEM "Column item 1"     ,POPUP_LV_CP_COL1
        MENUITEM "Column item 2"     ,POPUP_LV_CP_COL2
        MENUITEM "Column item 3"     ,POPUP_LV_CP_COL3
        MENUITEM "Column item 4"     ,POPUP_LV_CP_COL4
        MENUITEM "Column item 5"     ,POPUP_LV_CP_COL5
        MENUITEM "Column item 6"     ,POPUP_LV_CP_COL6
        MENUITEM "Column item 7"     ,POPUP_LV_CP_COL7
        MENUITEM "Column item 8"     ,POPUP_LV_CP_COL8
        MENUITEM "Column item 9"     ,POPUP_LV_CP_COL9
        MENUITEM "Column item 10"    ,POPUP_LV_CP_COL10
        MENUITEM "Column item 11"    ,POPUP_LV_CP_COL11
        MENUITEM "Column item 12"    ,POPUP_LV_CP_COL12
      END
    END
END*/
