//------------------------------------------------------------------------------
// Projet RtCA          : Read to Catch All
// Auteur               : Nicolas Hanteville
// Site                 : http://code.google.com/p/omnia-projetcs/
// Licence              : GPL V3
//------------------------------------------------------------------------------
#include "RtCA.h"
//------------------------------------------------------------------------------
ICON_APP            ICON DISCARDABLE "img/RTCA.ico"

ICON_LANGUAGE_EN    ICON DISCARDABLE "img/Eng.ico"
ICON_LANGUAGE_FR    ICON DISCARDABLE "img/Fr.ico"

ICON_FOLDER         ICON DISCARDABLE "img/folder.ico"
ICON_FILE           ICON DISCARDABLE "img/file.ico"
ICON_FILE_BIN       ICON DISCARDABLE "img/file_bin.ico"
ICON_FILE_DWORD     ICON DISCARDABLE "img/file_dword.ico"
ICON_FILE_TXT       ICON DISCARDABLE "img/file_txt.ico"
ICON_FILE_UNKNOW    ICON DISCARDABLE "img/file_unknow.ico"

IDR_VERSION VERSIONINFO
FILEVERSION RC_FILEVERSION
PRODUCTVERSION RC_FILEVERSION
FILETYPE 0x00000001
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "04090000"
    BEGIN
      VALUE "CompanyName", "http://omni-a.blogspot.com\0"
      VALUE "OriginalFilename", "RtCA.exe\0"
      VALUE "ProductName", "RtCA\0"
      VALUE "Author", "Nicolas Hanteville\0"
      VALUE "FileVersion", RC_FILEVERSION_STRING
      VALUE "ProductVersion", RC_FILEVERSION_STRING
    END
  END
END
//------------------------------------------------------------------------------
//configuration dialogue
//------------------------------------------------------------------------------
DLG_CONF DIALOGEX 0,24,458,297
CAPTION NOM_APPLI
FONT 8,"Arial",0,0
STYLE   0x10C80800
EXSTYLE 0x00000010
BEGIN
  CONTROL "",                           TRV_FILES         ,"SysTreeView32"  ,0x50010007|WS_TABSTOP,2,1,260,293,0x00000200
  CONTROL "",                           TRV_TEST          ,"SysTreeView32"  ,0x50000101|WS_TABSTOP,266,1,190,213,0x00000200
  CONTROL "Settings",                   GRP_CONF          ,"Button"         ,0x50000007,266,217,190,53
  CONTROL "Enable ACL files check",     BT_ACL_FILE_CHK   ,"Button"         ,0x50010003|WS_TABSTOP,272,228,174,9
  CONTROL "Enable ADS files search",    BT_ADS_FILE_CHK   ,"Button"         ,0x50010003|WS_TABSTOP,272,238,174,9
  CONTROL "SHA256 files hash (slow)",   BT_SHA_FILE_CHK   ,"Button"         ,0x50010003|WS_TABSTOP,272,248,174,9
  CONTROL "UTC/GMT",                    BT_UTC_CHK        ,"Button"         ,0x50010003|WS_TABSTOP,272,258,174,9

  CONTROL "Start",                      BT_START          ,"Button"         ,0x50010000|WS_TABSTOP,266,272,190,23
END
//------------------------------------------------------------------------------
//process dialogue
//------------------------------------------------------------------------------
DLG_PROCESS DIALOGEX 6,6,400,231
CAPTION "Process"
FONT 8,"Arial",0,0
STYLE 0x00CF0800
BEGIN
  CONTROL ""              ,LV_VIEW              ,"SysListView32",0x40810089,0,0,400,231,0x00000200
END
//------------------------------------------------------------------------------
//network raw capture dialogue
//------------------------------------------------------------------------------
DLG_NETWORK_SNIFF DIALOGEX 55,0,550,300
FONT 8,"Ms Shell Dlg 2",400,0,1
STYLE 0x00CF0800
BEGIN
  CONTROL ""                        ,DLG_NS_SNIFF_LB_FILTRE       ,"ListBox",0x50010141,2,1,100,273,0x00000200
  CONTROL ""                        ,DLG_NS_LSTV                  ,"SysListView32",WS_BORDER|WS_TABSTOP|LVS_SINGLESEL|LVS_SHOWSELALWAYS|LVS_NOLABELWRAP| LVS_REPORT |WS_CHILD,2,1,546,273
  CONTROL ""                        ,DLG_NS_LSTV_FILTRE           ,"SysListView32",WS_BORDER|WS_TABSTOP|LVS_SINGLESEL|LVS_SHOWSELALWAYS|LVS_NOLABELWRAP| LVS_REPORT |WS_CHILD,104,1,444,273
  CONTROL ""                        ,DLG_NS_LSTV_PAQUETS          ,"SysListView32",WS_BORDER|WS_TABSTOP|LVS_SHOWSELALWAYS|LVS_NOLABELWRAP| LVS_REPORT | WS_VISIBLE|WS_CHILD|LVS_OWNERDRAWFIXED,104,1,444,273

  CONTROL ""                        ,DLG_CONF_INTERFACE           ,"ComboBox",0x50210042|CBS_SIMPLE| WS_TABSTOP,306,53,240,50
  CONTROL "Promiscuous"             ,DLG_NS_SNIFF_CHK_PROMISCUOUS ,"Button",0x50010003| WS_TABSTOP,118,286,74,9
  CONTROL "IP"                      ,DLG_NS_SNIFF_CHK_DISCO       ,"Button",0x50010003| WS_TABSTOP,200,286,54,9
  CONTROL "Save"                    ,DLG_NS_BT_SAVE               ,"Button",0x50010000| WS_TABSTOP,384,282,64,13
  CONTROL "Start"                   ,DLG_NS_BT_START              ,"Button",0x50010000| WS_TABSTOP,454,276,94,22
END
//------------------------------------------------------------------------------
DLG_REGISTRY_EXPLORER_FILE DIALOGEX 6,6,230,115
FONT 8,"Ms Shell Dlg 2",400,0,1
STYLE 0x00CA0800
BEGIN
  CONTROL "",DLG_REG_ED_NTUSER    ,"Edit",0x50810080,2,1,148,13,0x00000200
  CONTROL "",DLG_REG_ED_SAM       ,"Edit",0x50810080,2,16,148,13,0x00000200
  CONTROL "",DLG_REG_ED_SECURITY  ,"Edit",0x50810080,2,31,148,13,0x00000200
  CONTROL "",DLG_REG_ED_SOFTWARE  ,"Edit",0x50810080,2,46,148,13,0x00000200
  CONTROL "",DLG_REG_ED_SYSTEM    ,"Edit",0x50810080,2,61,148,13,0x00000200
  CONTROL "",DLG_REG_ED_OTHER     ,"Edit",0x50810080,2,79,148,13,0x00000200

  CONTROL "Add NTUSER.DAT"  ,DLG_REG_BT_NTUSER    ,"Button",0x50010000,152,1,76,13,0x00000200
  CONTROL "Add SAM"         ,DLG_REG_BT_SAM       ,"Button",0x50010000,152,16,76,13,0x00000200
  CONTROL "Add SECURITY"    ,DLG_REG_BT_SECURITY  ,"Button",0x50010000,152,31,76,13,0x00000200
  CONTROL "Add SOFTWARE"    ,DLG_REG_BT_SOFTWARE  ,"Button",0x50010000,152,46,76,13,0x00000200
  CONTROL "Add SYSTEM"      ,DLG_REG_BT_SYSTEM    ,"Button",0x50010000,152,61,76,13,0x00000200
  CONTROL "Add Other file"  ,DLG_REG_BT_OTHER     ,"Button",0x50010000,152,79,76,13,0x00000200

  //check recovery mode !
  CONTROL "Recovery mode"   ,BT_REG_RECOVERY_MODE_CHK,"Button",0x50010003,2,94,120,13

  //start
  CONTROL "Start"           ,BT_REG_START,"Button",0x50010000,130,94,80,13
END
//------------------------------------------------------------------------------
DLG_REGISTRY_EXPLORER_VIEW DIALOGEX 6,6,230,115
FONT 8,"Ms Shell Dlg 2",400,0,1
STYLE 0x00CF0800
BEGIN
  CONTROL ""                ,ED_SEARCH            ,"Edit",0x50010080,4,216,112,13,0x00000200
  CONTROL "Search"          ,BT_SEARCH            ,"Button",0x50010000,208,216,74,13
  CONTROL "Match case"      ,BT_SEARCH_MATCH_CASE ,"Button",0x50010003,2,94,120,13
  CONTROL "Tree view"       ,BT_TREE_VIEW         ,"Button",0x50010000,208,216,74,13
  CONTROL ""                ,TV_VIEW              ,"SysTreeView32",TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | WS_BORDER,4,3,226,233,0x00000200
  CONTROL ""                ,LV_VIEW              ,"SysListView32",0x40810089,4,3,374,204,0x00000200
  CONTROL ""                ,STB                  ,"msctls_statusbar32",0x50000000,0,219,378,12
END
//------------------------------------------------------------------------------
DLG_DATE DIALOGEX 6,5,268,200//230
FONT 8,"MS Sans Serif",0,0
STYLE 0x00CA0000
BEGIN
  CONTROL ""                                        ,DLG_DATE_EDT_HEX ,"Edit",0x50010000,2,1,96,13,0x00000200
  CONTROL ""                                        ,DLG_DATE_EDT_DEC ,"Edit",0x50010000,2,16,96,13,0x00000200
  CONTROL "Hex -> Date"                             ,DLG_DATE_BT_HEX  ,"Button",0x50010000,102,1,48,13
  CONTROL "Dec -> Date"                             ,DLG_DATE_BT_DEC ,"Button",0x50010000,102,16,48,13
  CONTROL ""                                        ,DLG_DATE_CB_UTC,"ComboBox",0x50210203,156,1,108,78

  CONTROL "HEX :"                                   ,0,"Static",0x50000000,2,35,20,9
  CONTROL ""                                        ,DLG_DATE_EDT2,"Edit",0x50010800,22,33,108,13,0x00000200
  CONTROL "DEC :"                                   ,0,"Static",0x50000000,134,35,20,9
  CONTROL ""                                        ,DLG_DATE_EDT3,"Edit",0x50010800,158,33,108,13,0x00000200

  CONTROL "FileTime/Windows 64 bit (Little Endian) :",0,"Static",0x50000002,4,51,134,9
  CONTROL ""                                        ,DLG_DATE_EDT4,"Edit",0x50010800,142,49,124,13,0x00000200
  CONTROL "FileTime/Windows 64 bit  (Big Endian) :" ,0,"Static",0x50000002,4,66,134,9
  CONTROL ""                                        ,DLG_DATE_EDT5,"Edit",0x50010800,142,64,124,13,0x00000200
  CONTROL "time_t Unix 32 bit (Little Endian) :"    ,0,"Static",0x50000002,4,81,134,9
  CONTROL ""                                        ,DLG_DATE_EDT6,"Edit",0x50010800,142,79,124,13,0x00000200
  CONTROL "time_t Unix 32 bit (Big Endian) :"       ,0,"Static",0x50000002,4,96,134,9
  CONTROL ""                                        ,DLG_DATE_EDT7,"Edit",0x50010800,142,94,124,13,0x00000200
  CONTROL "Windows NT Time :"                       ,0,"Static",0x50000002,4,111,134,9
  CONTROL ""                                        ,DLG_DATE_EDT8,"Edit",0x50010800,142,109,124,13,0x00000200
  CONTROL "Firefox :"                               ,0,"Static",0x50000002,4,126,134,9
  CONTROL ""                                        ,DLG_DATE_EDT9,"Edit",0x50010800,142,124,124,13,0x00000200
  CONTROL "Unix Milisecond/Android :"               ,0,"Static",0x50000002,4,141,134,9
  CONTROL ""                                        ,DLG_DATE_EDT10,"Edit",0x50010800,142,139,124,13,0x00000200
  CONTROL "MAC Absolute Time :"                     ,0,"Static",0x50000002,4,156,134,9
  CONTROL ""                                        ,DLG_DATE_EDT11,"Edit",0x50010800,142,154,124,13,0x00000200
  CONTROL "HFS/HFS+ 32 bit (Big Endian) :"          ,0,"Static",0x50000002,4,171,134,9
  CONTROL ""                                        ,DLG_DATE_EDT12,"Edit",0x50010800,142,169,124,13,0x00000200
  CONTROL "HFS/HFS+ 32 bit (Little Endian) :"       ,0,"Static",0x50000002,4,186,134,9
  CONTROL ""                                        ,DLG_DATE_EDT13,"Edit",0x50010800,142,184,124,13,0x00000200
  /*CONTROL "MS-DOS 32 bit (Big Endian) :"            ,0,"Static",0x50000002,4,201,134,9
  CONTROL ""                                        ,DLG_DATE_EDT14,"Edit",0x50010800,142,199,124,13,0x00000200
  CONTROL "MS-DOS 32 bit (Little Endian) :"         ,0,"Static",0x50000002,4,216,134,9
  CONTROL ""                                        ,DLG_DATE_EDT14,"Edit",0x50010800,142,214,124,13,0x00000200*/
END
//------------------------------------------------------------------------------
DLG_STATE DIALOGEX 6,6,553,276
FONT 8,"MS Sans Serif",0,0
STYLE 0x00CF0800
BEGIN
  CONTROL ""                                        ,DLG_STATE_LB_SESSION,"ListBox",0x50310149,2,1,122,96,0x00000200
  CONTROL ""                                        ,DLG_STATE_LB_TEST,"ListBox",0x50310149,2,101,122,140,0x00000200
  CONTROL "Load"                                    ,DLG_STATE_BT_LOAD,"Button",0x50010000,2,245,122,19

  CONTROL "All"                                     ,DLG_STATE_BT_ALL,"Button",0x50010000,132,1,70,19
  CONTROL "Critical"                                ,DLG_STATE_BT_CRITICAL,"Button",0x50010000,204,1,70,19
  //CONTROL "Time Zone"                               ,DLG_STATE_BT_TIME_ZONE,"Button",0x50010000,276,1,70,19
  CONTROL "2012/11/18 11:11:11"                     ,DLG_STATE_ED_TIME_1,"ComboBox",0x50210042,348,3,90,150


  CONTROL "->"                                      ,0,"Static",0x50000000,442,5,6,9
  CONTROL "2012/11/18 11:11:12"                     ,DLG_STATE_ED_TIME_2,"Edit",0x50010000,449,3,80,13,0x00000200
  CONTROL "Filter"                                  ,DLG_STATE_BT_FILTER,"Button",0x50010000,532,3,20,14

  CONTROL ""                                        ,DLG_STATE_LV_ALL,"SysListView32",0x50810089,128,22,422,241,0x00000200
  CONTROL ""                                        ,DLG_STATE_LV_CRITICAL,"SysListView32",0x40810089,128,22,422,241,0x00000200
  CONTROL ""                                        ,DLG_STATE_LV_TIME_ZONE,"SysListView32",0x40810089,128,22,422,241,0x00000200
  CONTROL ""                                        ,DLG_STATE_LV_FILTER,"SysListView32",0x40810089,128,22,422,241,0x00000200
  CONTROL ""                                        ,DLG_STATE_SB,"msctls_statusbar32",0x50000000,0,265,554,12


/*
    hCombo_session    = CreateWindow("Combobox", NULL,0x50210003|WS_TABSTOP,rect.left,rect.top+2,rect.right - rect.left,200,
                                     htoolbar,(HMENU)CB_SESSION, hinst, NULL);
*/
//manque le bouton loading ! ou une fenêtre de chargement ^^
//manque un module de recherche global : avec une popup
END

//------------------------------------------------------------------------------
//main dialogue menu
//------------------------------------------------------------------------------
MY_ACCEL ACCELERATORS DISCARDABLE
BEGIN
  "s"                                     ,POPUP_E_CSV          , VIRTKEY, SHIFT, NOINVERT
  "t"                                     ,IDM_STAY_ON_TOP      , VIRTKEY, ALT, NOINVERT
  "c"                                     ,IDM_CHECK_ALL_TESTS  , VIRTKEY, ALT, NOINVERT
  "u"                                     ,IDM_UNCHECK_ALL_TESTS, VIRTKEY, ALT, NOINVERT
  "h"                                     ,IDM_RTCA_HOME        , VIRTKEY, ALT, NOINVERT
  VK_F1                                   ,IDM_ABOUT            , VIRTKEY, NOINVERT
END
//------------------------------------------------------------------------------
MY_MENU MENU
BEGIN
  POPUP "File"    //0
  BEGIN
    MENUITEM "New session"                ,IDM_NEW_SESSION
    MENUITEM "Refresh session list"       ,IDM_REFRESH_SESSION
    MENUITEM SEPARATOR
    MENUITEM "Delete current session"     ,IDM_DEL_SESSION
    MENUITEM "Delete all sessions"        ,IDM_DEL_ALL_SESSION
    MENUITEM SEPARATOR
    MENUITEM "Merge to database"          ,IDM_LOAD_SESSION_FILE
    MENUITEM "Save database"              ,IDM_SAVE_SESSION_FILE
    MENUITEM SEPARATOR
    POPUP    "Save all results"
    BEGIN
      MENUITEM "*.csv\tCtrl+s"            ,POPUP_E_CSV
      MENUITEM "*.html"                   ,POPUP_E_HTML
      MENUITEM "*.xml"                    ,POPUP_E_XML
    END
    MENUITEM SEPARATOR
    MENUITEM "Quit"                       ,IDM_QUIT
  END
  POPUP "Settings"  //1
  BEGIN
    MENUITEM "Stay on top\tAlt+t"         ,IDM_STAY_ON_TOP
    MENUITEM "Search match case"          ,BT_SEARCH_MATCH_CASE
  END
  POPUP "Tools"     //2
  BEGIN
    MENUITEM "Copy all registry files"    ,IDM_TOOLS_CP_REGISTRY
    MENUITEM "Copy all audit files"       ,IDM_TOOLS_CP_AUDIT
    MENUITEM "Copy NTDIS.DIT(AD) file"    ,IDM_TOOLS_CP_AD
    MENUITEM "Copy specific file"         ,IDM_TOOLS_CP_FILE
    MENUITEM SEPARATOR
    MENUITEM "List of process"            ,IDM_TOOLS_PROCESS
    MENUITEM "Registry explHFS 32bit hex value big endianorer"          ,IDM_TOOLS_REG_EXPLORER
    MENUITEM "Network live capture"       ,IDM_TOOLS_SNIFF
    MENUITEM "Decode date"                ,IDM_TOOLS_DATE
    MENUITEM SEPARATOR
    MENUITEM "Global analyser"            ,IDM_TOOLS_ANALYSER
  END
  POPUP "Help"      //3
  BEGIN
    MENUITEM "Open RtCA home\tAlt+h"     ,IDM_RTCA_HOME
    MENUITEM SEPARATOR
    MENUITEM "About\tF1"                 ,IDM_ABOUT
  END
END
//------------------------------------------------------------------------------
//popup files menu
//------------------------------------------------------------------------------
POPUP_TRV_FILES MENU DISCARDABLE
BEGIN
  POPUP "POPUP_TRV_FILES"
  BEGIN
    MENUITEM "Add file"                   ,POPUP_TRV_FILES_ADD_FILE
    MENUITEM "Add path"                   ,POPUP_TRV_FILES_ADD_PATH
    MENUITEM SEPARATOR
    MENUITEM "Item UP"                    ,POPUP_TRV_FILES_UP
    MENUITEM "Item DOWN"                  ,POPUP_TRV_FILES_DOWN
    MENUITEM "Remove selected item"       ,POPUP_TRV_FILES_REMOVE_ITEMS
    MENUITEM "Clean all"                  ,POPUP_TRV_FILES_CLEAN_ALL
    MENUITEM SEPARATOR
    MENUITEM "Open Path"                  ,POPUP_TRV_FILES_OPEN_PATH
    MENUITEM "Auto search"                ,POPUP_TRV_FILES_AUTO_SEARCH
    MENUITEM "Export list"                ,POPUP_TRV_FILES_SAVE_LIST
  END
END
//------------------------------------------------------------------------------
//popup test menu
//------------------------------------------------------------------------------
POPUP_TRV_TEST MENU DISCARDABLE
BEGIN
  POPUP "POPUP_TRV_TEST"
  BEGIN
    MENUITEM "Check all"                  ,POPUP_TRV_CHECK_ALL
    MENUITEM "Uncheck all"                ,POPUP_TRV_UNCHECK_ALL
    MENUITEM SEPARATOR
    MENUITEM "Stop the test"               ,POPUP_TRV_STOP_TEST
  END
END
//------------------------------------------------------------------------------
//popup lstv
//------------------------------------------------------------------------------
POPUP_LSTV MENU DISCARDABLE
BEGIN
  POPUP "LSTV"
    BEGIN
      MENUITEM "Save view"                 ,POPUP_S_VIEW
      MENUITEM "Save Selection"            ,POPUP_S_SELECTION
      MENUITEM SEPARATOR
      MENUITEM "Select all line in search" ,POPUP_A_SEARCH
      MENUITEM SEPARATOR
      MENUITEM "Open path"                 ,POPUP_O_PATH
      MENUITEM SEPARATOR
      MENUITEM "Copy the line to clipboard",POPUP_CP_LINE
      POPUP "Copy to clipboard"
      BEGIN
        MENUITEM "",POPUP_I_00
        MENUITEM "",POPUP_I_01
        MENUITEM "",POPUP_I_02
        MENUITEM "",POPUP_I_03
        MENUITEM "",POPUP_I_04
        MENUITEM "",POPUP_I_05
        MENUITEM "",POPUP_I_06
        MENUITEM "",POPUP_I_07
        MENUITEM "",POPUP_I_08
        MENUITEM "",POPUP_I_09
        MENUITEM "",POPUP_I_10
        MENUITEM "",POPUP_I_11
        MENUITEM "",POPUP_I_12
        MENUITEM "",POPUP_I_13
        MENUITEM "",POPUP_I_14
        MENUITEM "",POPUP_I_15
        MENUITEM "",POPUP_I_16
        MENUITEM "",POPUP_I_17
        MENUITEM "",POPUP_I_18
        MENUITEM "",POPUP_I_19
      END
    END
END
//------------------------------------------------------------------------------
POPUP_LSTV_EMPTY_FILE MENU DISCARDABLE
BEGIN
  POPUP "LSTV"
    BEGIN
      MENUITEM "Load file"                      ,POPUP_FILE_IMPORT_FILE
    END
END
//------------------------------------------------------------------------------
POPUP_SELECT_ALL_SESSION MENU DISCARDABLE
BEGIN
  POPUP "LSTV"
    BEGIN
      MENUITEM "Select/Unselect  all"           ,SELECT_ALL_SESSION
    END
END
POPUP_SELECT_ALL_TEST MENU DISCARDABLE
BEGIN
  POPUP "LSTV"
    BEGIN
      MENUITEM "Select/Unselect all"            ,SELECT_ALL_TEST
    END
END
//------------------------------------------------------------------------------
//popup header hlstv_process
//------------------------------------------------------------------------------
POPUP_LSTV_HDR MENU DISCARDABLE
BEGIN
  POPUP "LSTV"
    BEGIN
      MENUITEM "",POPUP_H_00
      MENUITEM "",POPUP_H_01
      MENUITEM "",POPUP_H_02
      MENUITEM "",POPUP_H_03
      MENUITEM "",POPUP_H_04
      MENUITEM "",POPUP_H_05
      MENUITEM "",POPUP_H_06
      MENUITEM "",POPUP_H_07
      MENUITEM "",POPUP_H_08
      MENUITEM "",POPUP_H_09
      MENUITEM "",POPUP_H_10
      MENUITEM "",POPUP_H_11
      MENUITEM "",POPUP_H_12
      MENUITEM "",POPUP_H_13
      MENUITEM "",POPUP_H_14
      MENUITEM "",POPUP_H_15
      MENUITEM "",POPUP_H_16
      MENUITEM "",POPUP_H_17
      MENUITEM "",POPUP_H_18
      MENUITEM "",POPUP_H_19
    END
END
//------------------------------------------------------------------------------
POPUP_LSTV_PROCESS MENU DISCARDABLE
BEGIN
  POPUP "PROCESS"
  BEGIN
    MENUITEM "Refresh"                   ,POPUP_PROCESS_REFRESH
    MENUITEM "Save view"                 ,POPUP_S_VIEW
    MENUITEM "Open path"                 ,POPUP_OPEN_PATH
    MENUITEM SEPARATOR
    MENUITEM "Kill process"              ,POPUP_KILL_PROCESS
    MENUITEM "Dump process memory"       ,POPUP_DUMP_MEMORY
    MENUITEM SEPARATOR
    MENUITEM "VirusTotal check file"     ,POPUP_VIRUSTOTAL_CHECK
    MENUITEM "VirusTotal check all files",POPUP_VIRUSTOTAL_CHECK_ALL
    MENUITEM SEPARATOR
    POPUP "Dll injection"
    BEGIN
      MENUITEM "Add remote thread injection"        ,POPUP_ADD_DLL_INJECT_REMOTE_THREAD
      MENUITEM "Remove remote thread injection"     ,POPUP_REM_DLL_INJECT_REMOTE_THREAD
    END
    MENUITEM SEPARATOR
    MENUITEM "Copy the line to clipboard",POPUP_CP_LINE
    POPUP "Copy to clipboard"
    BEGIN
      MENUITEM "",POPUP_I_00
      MENUITEM "",POPUP_I_01
      MENUITEM "",POPUP_I_02
      MENUITEM "",POPUP_I_03
      MENUITEM "",POPUP_I_04
      MENUITEM "",POPUP_I_05
      MENUITEM "",POPUP_I_06
      MENUITEM "",POPUP_I_07
      MENUITEM "",POPUP_I_08
      MENUITEM "",POPUP_I_09
      MENUITEM "",POPUP_I_10
      MENUITEM "",POPUP_I_11
      MENUITEM "",POPUP_I_12
      MENUITEM "",POPUP_I_13
      MENUITEM "",POPUP_I_14
      MENUITEM "",POPUP_I_15
      MENUITEM "",POPUP_I_16
      MENUITEM "",POPUP_I_17
      MENUITEM "",POPUP_I_18
    END
  END
END
//------------------------------------------------------------------------------
POPUP_LSTV_SNIFF MENU DISCARDABLE
BEGIN
  POPUP "POPUP_LSTV_SNIFF"
  BEGIN
      MENUITEM "Filter by source IP"              ,POPUP_SNIFF_FILTRE_IP_SRC
      MENUITEM "Filter by destination IP"         ,POPUP_SNIFF_FILTRE_IP_DST
      MENUITEM SEPARATOR
      MENUITEM "Filter by source port"            ,POPUP_SNIFF_FILTRE_PORT_SRC
      MENUITEM "Filter by destination port"       ,POPUP_SNIFF_FILTRE_PORT_DST
      MENUITEM SEPARATOR
      MENUITEM "Follow TCP/UDP stream"            ,POPUP_LINK

      MENUITEM SEPARATOR
      MENUITEM "Save view"                        ,POPUP_S_VIEW
      MENUITEM "Save Selection"                   ,POPUP_S_SELECTION
  END
END
//------------------------------------------------------------------------------
POPUP_TV_REGISTRY MENU DISCARDABLE
BEGIN
  POPUP "Popup_tv"
    BEGIN
      MENUITEM "Copy complet path"                 ,POPUP_TV_CP_COMPLET_PATH
    END
END
//------------------------------------------------------------------------------
//popup lstv
//------------------------------------------------------------------------------
POPUP_LSTV_REGISTRY MENU DISCARDABLE
BEGIN
  POPUP "Popup_lv"
    BEGIN
      MENUITEM "Save view"                 ,POPUP_S_VIEW
      MENUITEM "Save Selection"            ,POPUP_S_SELECTION
      MENUITEM SEPARATOR
      MENUITEM "Select all line in search" ,POPUP_A_SEARCH
      MENUITEM SEPARATOR
      MENUITEM "Open path"                 ,POPUP_O_PATH
      MENUITEM SEPARATOR
      MENUITEM "Copy the line to clipboard",POPUP_CP_LINE
      POPUP "Copy to clipboard"
      BEGIN
        MENUITEM "File",POPUP_I_00
        MENUITEM "Key",POPUP_I_01
        MENUITEM "Value",POPUP_I_02
        MENUITEM "Data",POPUP_I_03
        MENUITEM "Type",POPUP_I_04
        MENUITEM "Parent key update (UTC)",POPUP_I_05
        MENUITEM "Owner SID",POPUP_I_06
      END
    END
END
